@import url("https://fonts.googleapis.com/css2?family=Aldrich&family=Geo:ital@0;1&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Geist:wght@300;400;600;700&family=Manrope:wght@200..800&display=swap");

h1 {
  font-family: "Geo", sans-serif;
  font-size: 80px;
  margin: 0px;
  padding: 0px;
}

h2 {
  margin: 0px;
}

body {
  font-family: "Geist", sans-serif;
}

/* OVERLAY PAGE */

#landing-overlay {
  position: absolute;

  display: flex;
  align-items: center;
  justify-content: center;

  top: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(8px);

  z-index: 9999;
}

#intro-text {
  width: 50%;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#intro-title {
  font-size: 14vw;
  line-height: 0.5;
}

#intro-credits {
  padding-top: 10px;
  font-weight: 600;
}

#intro-description {
  width: 70%;
}

#intro-button {
  border: 1.5px solid black;
  color: black;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 10px 20px;
  font-size: 20px;
}

#intro-button:hover {
  background-color: rgba(0, 0, 0, 1);
}

/* PAGE CONTENT */

#page-content {
  padding: 1.5%;
  padding-top: 0px;
  display: flex;
}

#canvas {
  border: 1px solid black;
}

#subtitle {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

#infoButton {
  height: 30%;
  margin-left: 10px;
  background-color: black;
  border: none;
  color: white;
  padding: 3px 6px 3px 6px;
}

#infoButton:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}

/*DROPDOWNS*/

#dropDowns {
  display: flex;
  justify-content: space-between;
}

#userCountry {
  border: none;
  padding-left: 20px;
  appearance: none;
  padding-right: 5px;
  display: flex;
  align-items: center;
  box-sizing: border-box;

  z-index: 1;
}

#selectCountry {
  border: none;
  padding-left: 1px;

  z-index: 2;
}

.select-wrapper {
  position: relative;
  display: flex;
  border: 1px solid black;
  border-bottom: none;
  margin: none;
  padding: 5px;
}

.pulsing-dot {
  position: absolute;
  top: 50%;
  left: 8px;
  transform: translateY(-50%);
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: blue;
  box-shadow: 0 0 0 rgba(0, 0, 255, 0.4);
  animation: pulse 1.5s infinite;
}

/* Pulse animation */
@keyframes pulse {
  0% {
    transform: translateY(-50%) scale(1);
    box-shadow: 0 0 0 0 rgba(0, 0, 255, 0.4);
  }
  70% {
    transform: translateY(-50%) scale(1.5);
    box-shadow: 0 0 0 10px rgba(0, 0, 255, 0);
  }
  100% {
    transform: translateY(-50%) scale(1);
    box-shadow: 0 0 0 0 rgba(0, 0, 255, 0);
  }
}

/*INFO POPUP*/
#rightSide {
  width: 50vw;
  padding: 30px;
  padding-right: 0px;
  padding-bottom: 0.5%;
}

#infoPopup {
  width: 100%;
  height: 100%;
  display: none;
}

/*DROPDOWN*/

.custom-dropdown {
  position: relative;
  /*  display: flex;*/
  font-family: sans-serif;
  width: 200px;
  border: 1px solid black;
  border-bottom: none;
  cursor: pointer;
  background-color: transparent;
}

.dropdown-toggle {
  background-color: transparent;
  font-family: "Geist", sans-serif;
  font-size: 16px;
  color: black;
  border: none;
  cursor: pointer;
  text-align: left;
  padding: 10px 10px;
  height: 40px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.custom-dropdown:hover,
.custom-dropdown:hover .dropdown-toggle {
  background-color: black;
  color: white;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: white;
  width: 100%;
  border: 1px solid black;
  margin-top: 0px;
  margin-left: -1px;
  z-index: 10;
  list-style: none;
  padding: 0;
  height: 900px;
  overflow: scroll;
}

.dropdown-menu li {
  position: relative;
  overflow: hidden;
  width: 100%;
  cursor: pointer;
  padding: 10px 20px;
  box-sizing: border-box;
  color: black;
  background-color: white;
  transition: color 0.4s ease;
}

.dropdown-menu li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0;
  background-color: black;
  z-index: 0;
  transition: width 0.9s ease;
}

.dropdown-menu li:hover::before {
  width: 100%;
}

.dropdown-menu li:hover {
  color: white;
}

.dropdown-menu li span {
  position: relative;
  z-index: 1;
}

.custom-dropdown.open .dropdown-menu {
  display: block;
}

/*MEDIA QUERIES*/

/* Mobile */
@media only screen and (max-width: 700px) {
  /* Overlay Page */
  #intro-text {
    width: 90%;
  }

  #intro-title {
    font-size: 23vw;
  }

  #intro-description {
    width: 100%;
  }
  /* Main Content */
  #page-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #subtitle {
    font-size: 12px;
  }

  #rightSide {
    width: 100vw;
    padding: 0px;
    padding-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #infoPopup {
    width: 350px;
    height: 400px;
  }
}

/* Tablet */
@media only screen and (min-width: 701px) and (max-width: 900px) {
  /* Overlay Page */
  #intro-text {
    width: 70%;
  }

  #intro-title {
    font-size: 20vw;
  }

  #intro-description {
    width: 80%;
  }

  /* Main Content */
  #page-content {
    display: flex;
    flex-direction: column;
  }

  #rightSide {
    width: 100vw;
    padding: 0px;
    padding-top: 15px;
  }

  #infoPopup {
    width: 650px;
    height: 400px;
  }
}

/* INFO PAGE */

.top-flex-box {
  display: flex;
  flex-direction: row;
}

.top-flex-child_1 {
  /* margin: 10px 5px 10px 10px; */
  border-style: solid;
  border-width: 0px 1px 0px 1px;

  display: flex;
  flex-direction: column;
}

.top-flex-child_2 {
  /* margin: 10px 10px 10px 5px; */
  border-style: solid;
  border-width: 0px 1px 0px 0px;

  display: flex;
  flex-direction: column;
}

.about-RSF {
  padding: 15px;
}

.data-link {
  background-color: black;
  color: white;
  text-align: center;
  padding: 5px;
  text-decoration: none;
  cursor: pointer;
}

.press-freedom-definition {
  padding: 15px;
  text-align: justify;
  font-style: italic;
}

.middle-flex-box {
  display: flex;
  flex-direction: column;
}

#analyzed-country {
  padding: 20px;
  margin: 0px;
  border-style: solid;
  border-width: 1px;
  font-size: 20px;
}

.category {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;

  padding: 20px;
  margin: 0px;
  border-style: solid;
  border-width: 0px 1px 1px 1px;
}

.data-viz {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
}

#political {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

#economic {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

#legislative {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

#social {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

#security {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.bottom-flex-box {
  padding: 10px;
  margin: 0px;
  border-style: solid;
  border-width: 0px 1px 1px 1px;

  display: flex;
  flex-direction: row;
  color: black;
}

.highlight {
  /* background: rgba(0, 0, 0, 0.2); */
  text-decoration: underline;
  color: black;
}

.italic {
  font-style: italic;
}

.portfolio-link {
  color: black;
}
